html,
body {
    width: 100%;
    height: 100%;
    padding: 0!important;
    margin: 0!important;
}
/******************** Navbar  ***********************/

.navbar.navbar-expand-lg.navbar-light {
    background-color: #B70f0a;
    padding-top: 12px;
    padding-bottom: 12px;
}

#brand {
    font-family: 'Bad Script', cursive;
    font-size: 1.3em;
}

nav a {
    color: #FFF1d7 !important;
}

.fa-camera-retro {
    margin-right: 20px;
}

.navbar-nav.nav-pills {
    font-family: 'Economica', sans-serif;
    font-size: 24px;
}
/************************** Header ***************************/
header{
    height: 100%;
}
.home-header-image {
    height: calc(100% - 103px);
    background: linear-gradient(rgba(243, 230, 199, 0.8), rgba(243, 230, 199, 0.8)), url('img/cinema.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    text-align: center;

}
.header-image {
    background: linear-gradient(rgba(243, 230, 199, 0.8), rgba(243, 230, 199, 0.8)), url('img/cinema.jpg') center 38% no-repeat; 
}
.left-part{
    height: 19.6vw;
}
.left-first-text{
    text-align: end;
    height: 13vw;
}
#left1,
#left2 {
    font-family: 'Amatic SC', sans-serif;
    color: #B70f0a;
}

#left1 {
    font-size: 11em;
    font-weight: 400;
}

#left2 {
    font-size: 7em;
    font-weight: 700;

}
#left-second-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    text-align: center;
    padding: 14px 32px;
    background-image: linear-gradient(black, black),
    linear-gradient(black, black),
    linear-gradient(black, black),
    linear-gradient(black, black);
    background-repeat: no-repeat;
    background-size: 2px 70%, 50% 2px, 3px 70%, 50% 3px, calc(100% - 8px) calc(100% - 8px);
    background-position: left bottom, left bottom, right top, right top, 3px 3px;
}

.right-part{
    margin-left: 2%;
    text-align: start;
}
#first-sentence {
    font-family: 'Economica', sans-serif;
    font-size: 3.5em;
    line-height: 67px;
    font-weight: 400;
    letter-spacing: 0.25rem;
    margin: -5px 0;
}

#second-sentence {
    font-family: 'Fjalla One', sans-serif;
    font-size: 4.3em;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0.03rem;
    margin: -5px 0 -15px 0;
}

#third-sentence {
    font-family: 'Economica', sans-serif;
    font-size: 3em;
    margin: 0;
    letter-spacing: 0.5rem;
}

.date-button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    letter-spacing: 0.25rem;
    background-color: #B70f0a;
    text-align: center;
    color: white;
}
.date-button.page-home{
    font-size: 2.3em;
    padding: 2px 0;
    margin-bottom: 18px;
}
.date-button.page-film{
    font-size: 18px;
}
.around-text{
    font-family: 'Economica', sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.2em;
}
.center-text{
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    font-weight: 700;
}
.chevron{
    position: absolute;
    bottom: 3%;
    left:50%;
}
.chevron1 {
    color: #B70f0a;
    opacity: 0.4;
    margin-bottom: -30px;
}

.chevron2 {
    color: #B70f0a;
    opacity: 0.6;
    margin-bottom: -40px;
}

.chevron3 {
    color: #B70f0a;
}

.ribbon {
    font-family: 'Fjalla One', sans-serif;
    font-size: 4em;
    background-color: #B70f0a;
    color: #FFF4D4;
    width: 30%;
    position: absolute;
    text-align: center;
    bottom: 13%;
    right: -7%;
    transform: rotate(-45deg);
}
/*************************** Bouton Pré-inscriptions *************************/
.label-1{
    font-family: 'Economica', sans-serif;
    font-size: 1.2em; 
}
.input-1{
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 0;
}

.form-control:focus {
    border-color: #FF0000;
    box-shadow: 0 1px 0 0 #FF0000;
} 

.btn-default,.btn-outline-dark,.btn-warning,.input-1{

    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}



/*************************** Main Content ****************************/

@media (min-width: 1600px) { 
    .container{
        max-width: 1500px;
    }
 }

.home{
    width: 100%;
}

.title-content {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2em;
    font-weight: bold;
    overflow: hidden;
    margin: 30px 0;
}
.title-category{
    font-family: 'Economica', sans-serif;
    letter-spacing: 0.05em;
    font-size: 2em;
    margin: 30px 0;
    color: grey!important;

}
.title-content::after{
    content: '';
    display: inline-block;  
    border-bottom: 4px solid#B70f0a;
}

.title-content.first::after {
    width: 10%;
    margin-left: 2%;
}
.title-content.second::after {
    width: 10%;
    margin-left: 2%;
}
.title-content.third::after {
    width: 20.545%;
    margin-left: 4%;
}
.title-content.fourth::after {
    width: 20.545%;
    margin-left: 4%;
}
.title-content.fifth::after {
    width: 8%;
    margin-left: 1.5%;
}
.title-content.sixth {
    overflow: initial;
}
.title-content.sixth::after {
    width: 10%;
    margin-left: 2.5%;
}
.title-content.seventh::after {
    width: 20.70%;
    margin-left: 4.5%;
}
.title-content.eighth::after {
    width: 8%;
    margin-left: 2%;
}
.topic{
    font-family: 'Economica', sans-serif;
    font-size: 2.5em; 
}

.paragraphe {
    margin-bottom: 40px;
}

.paragraphe-title {
    font-family: 'Economica', sans-serif;
    font-size: 1.8em;
}

.paragraphe-content {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: grey;
}

.text-actu {
    width: auto;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #B70f0a;
}
.text-actu a{
    text-decoration: none;
    color: #B70f0a;
}
.text-actu a:hover{
    color: blue;
}
.carousel-caption {
    bottom: 135px;
    left: 10%;
}

.h3 {
    font-family: 'Economica', sans-serif;
    text-shadow: #000;
    font-size: 2em;
}

.h5 {
    font-family: 'Economica', sans-serif;
    font-size: 1.5em;
    color: #B70f0a;

}

.second-part {
    margin: 60px 0;
}

.bande-annonce {
    position: relative;
    margin: 30px 0;
}

.titre-film {
    font-family: 'Economica', sans-serif;
    font-size: 34px;
}

.icone-lecture {
    position: absolute;
    top: 5px;
    right: 5px;
    color: black;
}

.section-miniature {
    margin: 50px 0 20px 0;
}
.img-responsive1{
    width:100%;
    height: 300px;
}
.img-responsive2{
    width:100%;
    height: auto;
}
.img-responsive3{
    width:100%;
    height: 400px;
}
.figure.last{
    display: block;
}
.figure-caption{
    margin-top: 10px;
    font-family: 'Economica', sans-serif;
    font-size: 18px;
    letter-spacing: 0.2rem;
    color: black;
}
.figure-caption.text-start{
    margin-top: 10px;
    font-family: 'Economica', sans-serif;
    font-size: 2em;
    letter-spacing: 0.2rem;
    color: black;
}

/*********************** Main Content Page Actu ************************/

.custom-select{
    margin-top: 62%;
    padding-bottom: 0.5em;
    width: 5em;
    height: auto;
    border: none;
    font-family: 'Economica', sans-serif;
    letter-spacing: 0.01em;
    font-size: 2.2em;
    color: grey!important;
    background: url(img/arrow.svg) no-repeat right #fff;
    -webkit-appearance: none;
}
.fa-angle-down{
    color: #B70f0a;
}

.actu-card{
    position: relative;
    width: 350px;
    bottom: 15%;
    left: 40%;
    border: none;
    border-top: 10px solid#B70f0a;
    border-radius: 0%;
    font-family: 'Economica', sans-serif;
}
.row.limit,.row.lastLimit{
    margin-bottom: -160px;
}
.actu-card2{
    position: relative;
    bottom: 40%;
    border: none;
    border-top: 10px solid#B70f0a;
    border-radius: 0%;
    font-family: 'Economica', sans-serif;
}
.card-description{
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    color: grey;
}
.card-text{
    display: inline-block;
    width: 50%;
    background-color: #B70f0a;
    color: #FFF;
    padding: 5px;
    font-size: 1em;
    text-align: center;
}
.calendar-actu{
    color: #B70f0a;
}
/*.category:first-of-type{
    margin-top: 0.8em;
    margin-bottom: 0.35em;
}
.category:last-of-type{
    margin-top: 0.4em;
}
.category:nth-of-type(2),.category:nth-of-type(3){
    margin: 0.45em 0;
}*/
.img-responsive4{
    width:25%;
    height: 100%;
    padding: 1.5%;
}
.img-responsive4:first-of-type{
    padding-top: 0;
}
.img-responsive5{
    width:100%;
    height: 300px;
}
.sumarry{
    font-family: 'Economica', sans-serif;   
}
.sumarry p{
    font-size: 1.2em;
}

.pagination{
    display: inline;
    font-family: 'Economica', sans-serif;
    font-size: 1.5em; 
    font-weight: 600; 
    letter-spacing: 0.1em; 
    color: #363636;  
}
.line::after{
    content: '';
    display: inline-block;  
    border-bottom: 4px solid#B70f0a;
    margin-left: 18%;
    margin-bottom: -10%;
}

.active-pagination{
    display: inline;
    color: #B70f0a;
    font-size: 1.25em;
}
/************************** CONTACT *******************************/
   iframe{
       width: 100%;
       height: 650px;
    } 
   .contact-form{
       margin-top: 40px;
   } 
   .contact-form h2{
    font-family: 'Bad Script', cursive;
    font-weight: 700;
   }
   .contact-form h3{
    font-family: 'Fjalla One', sans-serif;
    font-size: 34px;
   }
   .coordonnees{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3em;
   }
   #h3Coordonnees{
    margin-bottom: 50px!important;
   }
   #h5Coordonnees{
    margin-top: 70px!important;
   }
/************************** FOOTER ********************************/
.footer{
    position: relative;
    color: white;
    background-color: #000;
    padding: 20px 70px;
}
.title-footer{
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 34px;
    margin: 20px 0;
}
.particulars{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3em;
} 
.address{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3em;
}
.social-icone{
    color: white;
}


/************************** MEDIA QUERIES *****************************/


@media (min-width: 359px) and (max-width: 767px){
    #brand{
        font-size: 0.65em;
    }
    .navbar-toggler-icon {
        width: 0.8em!important;
    }
    .navbar-nav.nav-pills{
        font-size: 1.2em!important;
    }
    .fa-camera-retro{
        font-size: 1.2em;
    }
    .left-part{
        height: 57vw;
    }
    .home-header-image{
        display: block!important;
        height: calc(100% - 64px);
        }
    .left-part{
        height: auto;
        padding-top: 20px;
    }
    .left-first-text{
        text-align: center;
        height: 34vw;
    }
    #left1{
        font-size: 5em;
    }
    #left2{
        font-size: 3em;
    }
    #left-second-text{
        display: none;
    }
    .right-part{
        margin-left: 0;
        padding: 0 55px;
        text-align: center;
    }
    #first-sentence{
        font-size: 1.6em;
        letter-spacing: 0.1em;
        line-height: 0.8em;
    }
    #second-sentence{
        font-size: 1.8em;
        letter-spacing: 0.07em;
        line-height: 2em;

    }
    #third-sentence{
        font-size: 1.2em;
        letter-spacing: 0.25em;
        line-height: 2em;
    }
    .date-button{
        font-size: 1.3em!important;
        width: auto;
    }
    .text-button{
        margin-bottom: 0px; 
    }
    .chevron{
        font-size: 0.8em;
        bottom: 10%;
        left:46%;
    }
    .chevron1{
        margin-bottom: -1.8em;
    }
    .chevron2{
        margin-bottom: -2.5em;
    }
    .chevron3{
        margin-bottom: -1.0em;
    }
    .ribbon{
        bottom: 0%;
        right: 0%;
        font-size: 1.3em;
        width: 30%;
        transform: none;
        z-index: 110;
    }
    .carousel-caption {
        width: 100%;
        bottom: 0.2%;
        left: 0;
        padding: 5%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .h3{
        font-size: 1.4em;
        margin-bottom: 0!important;
    }
    .h5{
        font-size: 1.2em;
        margin-bottom: 0!important;
    }
    .text-carousel{
        font-size: 0.5em;
        margin-bottom: 0!important;
    }
    .modal-header{
        padding-bottom: 0;
    }
    .modal-body{
        padding-top: 0;
        padding-bottom: 0;
    }
    .modal-footer{
        padding-top: 0;
        border-top: none;
    }
    .label-1{
        padding-bottom: 0;
    }
    .input-1{
        padding-top: 0;
    }
.inscriptionButton1, .inscriptionButton3{
    display: block;
    position: fixed;
    background-color: #B70f0a!important;
    color: white;
    font-size: 0.72em;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    border-radius: 0;
}
    /* Content*/
    .title-content{
        font-size: 1.5em!important;
    }
    .title-content.first::after,
    .title-content.second::after,
    .title-content.third::after,
    .title-content.fourth::after
    {
        width: 19%!important;
    }
    .title-content.fifth::after,
    .title-content.sixth::after{
        width: 18%;
    }
    .sixth:nth-of-type(2n+1){
        margin: 15px 0!important;
    }
    .section-miniature{
        text-align: center;
    }

    .figure-caption{
        text-align: center!important;
    }
    .paragraphe-title{
        font-size: 1.2em!important;
    }
    .paragraphe-content{
        font-size: 0.9em!important;
    }
    .titre-film{
        font-size: 1.5em!important;
    }
    .icone-lecture{
        top:0.5%!important;
        font-size: 0.8em!important;
    }
    .title-footer{
        font-size: 1.3em;
    }
    .particulars,.address{
        font-size: 0.7em;
    }
    .fa-facebook-f,.fa-twitter,.fa-instagram{
        font-size: 1.5em;
    }
    .baf{
        margin: 2% 0;
    }
    .img-responsive1{
        width:100%;
        height: 100%;
    }
    .text-footer{
        text-align: center;
    }
    .last-sentence{
        letter-spacing: 0.3em;
        padding-left: 1em!important;
    }
    .img-responsive3{
        height: auto;
    }
    /* page actu*/
    .category:last-of-type{
        margin-bottom: 3.5em;
    }
    .custom-select{
        margin: 10% 0;
        font-size: 1.8em;
        width: 6em;
    }
    .title-content.eighth::after {
        width: 18%;
        margin-left: 2%;
    }
    .actu-card{
        width: 100%;
        bottom: 0;
        left: 0;
        border: 1px solid #B70f0a;
        border-top: 10px solid#B70f0a;
        border-radius: 0%;
        font-family: 'Economica', sans-serif;
    }
    .img-responsive4{
        width: 40%;
    }
    .sumarry p{
        font-size: 0.85em;
    }
    .sumarry h3{
        font-size: 1.2em;
    }
    .row.limit,.row.lastLimit{
        margin-bottom: 0px;
    }
    .actu-card2{
        border: 1px solid #B70f0a;
        bottom: 0;
        margin-bottom: 10px;
    }
    .actu-card2:last-of-type{
        margin-bottom: 10px;
    }
    .card-text{
        width: 52%;
        font-size: 1em;
        font-weight: bold;
        text-align: center;
    }
    .card-description{
        font-size: 0.8em;
    }
    .rowPagination{
        margin-top: -50px;
    }

    .line::after{
        width: 116px;
        margin-left: 55px; 
        margin-top: -10%;
        margin-bottom: -8%;
    }
    .footer{
        position: relative;
        color: white;
        background-color: #000;
        padding: 20px 70px 80px 70px;
    }
    /********** Page Contact ***************/
    #colCoordonnees{
        text-align: center!important;
    }
    #h3Mail{
        margin-bottom: 40px;
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    .home-header-image {
        height: calc(100% - 303px);
        background: linear-gradient(rgba(243, 230, 199, 0.8), rgba(243, 230, 199, 0.8)), url('img/cinema.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
        text-align: center;
    
    }
    .left-part{
        height: 39.6vw;
    }
    .left-first-text{
        text-align: end;
        height: 28vw;
    }
    #left1,
    #left2 {
        font-family: 'Amatic SC', sans-serif;
        color: #B70f0a;
    }
    
    #left1 {
        font-size: 10em;
        font-weight: 400;
    }
    
    #left2 {
        font-size: 6em;
        font-weight: 700;
    
    }
    #left-second-text {
        font-family: 'Quicksand', sans-serif;
        font-size: 1.8em;
        text-align: center;
        padding: 16px 22px;
        background-image: linear-gradient(black, black),
        linear-gradient(black, black),
        linear-gradient(black, black),
        linear-gradient(black, black);
        background-repeat: no-repeat;
        background-size: 2px 70%, 50% 2px, 3px 70%, 50% 3px, calc(100% - 8px) calc(100% - 8px);
        background-position: left bottom, left bottom, right top, right top, 3px 3px;
    }
    #first-sentence {
        font-family: 'Economica', sans-serif;
        font-size: 3.2em;
        line-height: 67px;
        font-weight: 400;
        letter-spacing: 0.2rem;
        margin: -5px 0;
    }
    
    #second-sentence {
        font-family: 'Fjalla One', sans-serif;
        font-size: 3.7em;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0.03rem;
        margin: -5px 0 -15px 0;
    }
    
    #third-sentence {
        font-family: 'Economica', sans-serif;
        font-size: 2.53em;
        margin: 5px 0 0 0;
        letter-spacing: 0.5rem;
    }
    
    .date-button {
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        letter-spacing: 0.25rem;
        background-color: #B70f0a;
        text-align: center;
        color: white;
    }
    .date-button.page-home{
        font-size: 2em;
        padding: 2px 0;
        margin-bottom: 18px;
    }
    .date-button.page-film{
        font-size: 18px;
    }
    .around-text{
        font-family: 'Economica', sans-serif;
        font-size: 1.8em;
        font-weight: 400;
        letter-spacing: 0.2em;
    }
    .center-text{
        font-family: 'Fjalla One', sans-serif;
        font-size: 2.2em;
        font-weight: 700;
        text-align: center;
    }
    .chevron{
        position: absolute;
        bottom: 36%;
        left:46%;
    }
.ribbon {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2em;
    background-color: #B70f0a;
    color: #FFF4D4;
    width: 35%;
    position: absolute;
    text-align: center;
    bottom: 5%;
    right: -10%;
    transform: rotate(-45deg);
}
/*inscription*/
header{
    height: 85%;
}
.inscriptionButton1{
    position: fixed;
    background-color: #B70f0a!important;
    color: white;
    font-size: 0.92em;
    top: 670px;
    right: 42%;
    z-index: 100;
}

.left-content,.right-content{
    margin-top: -160px;
}
.title-content{
    font-size: 1.55em;
}
.title-content.second{
    margin: 55px 0;
}
.title-content.first::after {
    width: 15%;
    margin-left: 2%;
}
.title-content.second::after {
    width: 18%;
    margin-left: 2%;
}
.title-content.third::after {
    width: 24%;
    margin-left: 4%;
}
.title-content.fourth::after {
    width: 24%;
    margin-left: 4%;
}
.paragraphe {
    margin-bottom: 10px;
}
.paragraphe-title {
    font-size: 1.5em;
}
.paragraphe-content {
    font-size: 1em;
    line-height: 1em;
}
.h5{
    font-size: 1.1em;
}
.h3{
    font-size: 1.2em;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    bottom: 5px;
    left: 0;
    padding: 5%;

}
.img-responsive1 {
    width: 100%;
    height: 130px;
}
.titre-film {
    font-size: 1.5em!important;
}
.icone-lecture {
    top: 0.5%!important;
    font-size: 0.8em!important;
}
/*********** Page Films ************/
.inscriptionButton3{
    position: fixed;
    background-color: #B70f0a!important;
    color: white;
    top: 200px;
    right: 2%;
    z-index: 100;
}
#inscriptionButtonPageSm{
    position: fixed;
    background-color: #B70f0a!important;
    color: white;
    bottom: 5%;
    right: 42%;
    z-index: 100;
    }
#inscriptionButtonPageSm:hover{
    background-color: #FFF4D4!important;
    color: #000!important;
    border: 1px solid #000;
}
.topic{
    font-size: 1.6em;
}
.img-responsive3{
    width: 100%;
    height: 200px; 
}
.figure-caption.text-start {
    font-size: 1.7em;
}
/************* Page Actu ***************/
.title-content.eighth::after {
    width: 18%;
    margin-left: 2%;
}
.custom-select{
    margin-top: 60px;
    width: 5em;
}
.actu-card{
    width: 80%;
    bottom: 70px;
    left: 45px;
    font-size: 0.8em;
    border-top: 10px solid#B70f0a;
    border-radius: 0%;
    font-family: 'Economica', sans-serif;
}
.card-body{
    padding: 0.75em!important;
}
.row.limit [class*="col-"] {
    max-height: 280px;
}
.row.limit,.row.lastLimit{
    margin-bottom: 0px;
}
.actu-card2{
    font-size: 0.6em;
}
.actu-card2 .card-title{
    font-size: 1.7em;
}
.actu-card2 .card-text{
    font-weight: bold;
    width: 59%;
    font-size: 1.2em!important;
    padding: 2.21px;
    text-align: center;
}
.actu-card2 .date-actu{
    font-size: 1.2em;
    font-weight: 500;

}
.sumarry h3{
    font-size: 1.4em;
    font-weight: 500;
}
.sumarry p{
    font-size: 0.7em;
}
.img-responsive4{
    width: 25%;
    height: 80%;
}
.img-responsive5{
    height: 150px;
}
.rowPagination{
    margin-top: -120px;
}
/************** Page Contact **************/
#h3Mail{
    margin-bottom: 40px;
}
}
@media (min-width: 1024px){
.inscriptionButton1{
    position: fixed;
    background-color: #B70f0a!important;
    color: white;
    top: 700px;
    right: 43%;
    z-index: 100;
}
.inscriptionButton2{
    position: fixed;
    background-color: #B70f0a!important;
    color: white;
    top: 700px;
    right: 10%;
    z-index: 100;
}
.inscriptionButton3{
    position: fixed;
    background-color: #B70f0a!important;
    color: white;
    top: 200px;
    right: 2%;
    z-index: 100;
}
.inscriptionButton1:hover,.inscriptionButton2:hover,.inscriptionButton3:hover{
    background-color: #FFF4D4!important;
    color: #000!important;
    border: 1px solid #000;
}
#inscriptionButton3{
    position: fixed;
    background-color: #B70f0a!important;
    color: white;
    top: 130px;
    right: 5%;
    z-index: 100; 
}
#inscriptionButton3:hover{
    background-color: #FFF4D4!important;
    color: #000!important;
    border: 1px solid #000;
}
}